<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sportcenter Notification</title>
  </head>


  <body style="font-family:'arial';">
      <div style="background: #fff max-width: 100%;text-align: left">
      </div>

    <div class="email-block" style="background: #f6f6f6 none repeat scroll 0 0; border: 1px solid #e1e1e1; margin: 40px auto; max-width: 100%; padding: 30px 0; text-align: center; width: 600px; overflow: hidden;">
        <h3>Sportcenter Detail</h3>
        <table style="text-align:left;margin:40px" >
         <tr>
          <td><b>Name</b></td> <td><b>:</b></td> <td><span style="color:#01579b;"><%- name %></span></td>
         </tr>
         <tr>
          <td><b>Address</b></td> <td><b>:</b></td> <td><span style="color:#01579b;"><%- address %></span></td>
         </tr>
                  <tr>
          <td><b>Phone</b></td> <td><b>:</b></td> <td><span style="color:#01579b;"><%- phone %></span></td>
         </tr>

         <tr>
          <td><b>Description</b></td> <td><b>:</b></td> <td><span style="color:#01579b;"><%- description %></span></td>
         </tr>
         <tr>
          <td><b>Latitude</b></td> <td><b>:</b></td> <td><span style="color:#01579b;"><%- lat %></span></td>
         </tr>
           <tr>
          <td><b>Longitude</b></td> <td><b>:</b></td> <td><span style="color:#01579b;"><%- long %></span></td>
         </tr>
             <tr>
          <td><b>Username</b></td> <td><b>:</b></td> <td><span style="color:#01579b;"><%- username %></span></td>
         </tr>
</table>

        <h3>Pitch Detail</h3>
        <div style="text-align:left;margin:40px">
          <%- field %>
        </div>
             
        <p class="thanking-text" style="color: #9d9d9d; font-size: 16px; padding-bottom: 15px;">Thank you, <br> Teem Players</p>

    </div>
              <!-- Footer 1 -->
          <table class="row" align="center" bgcolor="#fff" style="border-spacing: 0; margin: 0 auto;">
            <tr>
              <th class="column has-columns" width="640" style="width: 640px; padding: 0; padding-left: 30px; padding-right: 30px;">

                <table class="row" align="center" style="border-spacing: 0; margin: 0 auto;">
                  <tr>
                    <td class="spacer" height="80" colspan="2" style="font-size: 80px; line-height: 80px; margin: 0; padding: 0;">&nbsp;</td>
                  </tr>
                  <tr valign="top" style="vertical-align: top;">
                    <th class="column mobile-padding-bottom" width="255" style="width: 255px; padding: 0; padding-right: 10px; font-weight: 400; text-align: left;">
                      <a href="http://example.com" target="_blank">
                        <img src="../images/footer/logo-footer.png" width="78" height="19" alt="Footer Logo" style="border: 0;">
                      </a>
                    </th>
                    <th class="column mobile-text-left" width="365" style="width: 365px; padding: 0; padding-left: 10px; color: #969AA1; font-size: 13px; font-weight: 400; text-align: right;">
                      <a href="http://twitter.com/teemplayers" target="_blank" style="color: #3FB58B; display: inline-block; text-decoration: none;">
                        <img src="../images/icons/social/circle/twitter-circle.png" width="24" height="24" alt="Twitter" style="display: inline-block; width: 24px; border: 0;">&nbsp; </a>
                      <a href="http://facebook.com/teemplayers" target="_blank" style="color: #3FB58B; display: inline-block; text-decoration: none;">
                      &nbsp;
                        <img src="../images/icons/social/circle/facebook-circle.png" width="24" height="24" alt="Facebook" style="display: inline-block; width: 24px; border: 0;">&nbsp; </a>
                      <a href="http://linkedin.com/companies/teem-players" target="_blank" style="color: #3FB58B; display: inline-block; text-decoration: none;">
                      &nbsp;
                        <img src="../images/icons/social/circle/linkedin-circle.png" width="24" height="24" alt="LinkedIn" style="display: inline-block; width: 24px; border: 0;">&nbsp; </a>
                      <a href="http://instagram.com/teemplayers" target="_blank" style="color: #3FB58B; display: inline-block; text-decoration: none;">
                      &nbsp;
                        <img src="../images/icons/social/circle/instagram-circle.png" width="24" height="24" alt="Instagram" style="display: inline-block; width: 24px; border: 0;"> </a>
                    </th>
                  </tr>
                </table>

                <table class="row" align="center" style="border-spacing: 0; margin: 0 auto;">
                  <tr>
                    <th class="column" width="640" style="width: 640px; padding: 0;">
                      <table class="divider" width="100%" style="border-spacing: 0;">
                        <tr>
                          <th height="30" style="font-size: 30px; line-height: 30px; padding: 0;">&nbsp;</th>
                        </tr>
                        <tr>
                          <td height="1" style="height: 1px; border-top: 1px solid #2B2E32; padding: 0; font-size: 1px; line-height: 1px;">&nbsp;</td>
                        </tr>
                        <tr>
                          <th height="30" style="font-size: 30px; line-height: 30px; padding: 0;">&nbsp;</th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>

                <table class="row" align="center" style="border-spacing: 0; margin: 0 auto;">
                  <tr valign="top" style="vertical-align: top;">
                    <th class="column mobile-6 sans-serif" width="200" style="width: 200px; padding: 0; padding-right: 10px; color: #969AA1; font-size: 13px; font-weight: 400; text-align: left;">
                      <h5 class="sans-serif" style="color: #969AA1; font-size: 14px; font-weight: 700; margin: 0; margin-bottom: 0px;">Teem Headquarters</h5>
                      <div style="margin-bottom: 20px;">
                        Madrid, España.
                      </div>
                    </th>
                  </tr>
                </table>

                <table class="row" align="center" style="border-spacing: 0; margin: 0 auto;">
                  <tr valign="top" style="vertical-align: top;">
                    <th class="column sans-serif" width="640" style="width: 640px; padding: 0; color: #969AA1; font-size: 13px; font-weight: 400; text-align: left;">

                      <div>&copy; Teem Players. All Rights Reserved. <a href="https://teemplayers.com/terminos-y-condiciones" target="_blank" style="color: #969AA1; text-decoration: none;">Terms &amp; Conditions</a> | <a href="http://www.teemplayers.com" target="_blank" style="color: #969AA1; font-size: 13px; text-decoration: none;">Have Questions?</a></div>

                    </th>
                  </tr>
                </table>

                <table align="center" width="100%" style="border-spacing: 0; margin: 0 auto; width: 100%;">
                  <tr>
                    <td class="spacer" height="30" style="font-size: 30px; line-height: 30px; margin: 0; padding: 0;">&nbsp;</td>
                  </tr>
                </table>

              </th>
            </tr>
          </table>

  </body>

</html>
