<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sportcenter Notification</title>
  </head>


  <body style="font-family:'arial';">
      <div style="background: #fff max-width: 100%;text-align: left">
      </div>

    <div class="email-block" style="background: #f6f6f6 none repeat scroll 0 0; border: 1px solid #e1e1e1; margin: 40px auto; max-width: 100%; padding: 30px 0; text-align: center; width: 600px; overflow: hidden;">
        <h3>Sportcenter Detail</h3>
        <table style="text-align:left;margin:40px" >
         <tr>
          <td><b>Name</b></td> <td><b>:</b></td> <td><span style="color:#01579b;"><%- name %></span></td>
         </tr>
         <tr>
          <td><b>Address</b></td> <td><b>:</b></td> <td><span style="color:#01579b;"><%- address %></span></td>
         </tr>
                  <tr>
          <td><b>Phone</b></td> <td><b>:</b></td> <td><span style="color:#01579b;"><%- phone %></span></td>
         </tr>

         <tr>
          <td><b>Description</b></td> <td><b>:</b></td> <td><span style="color:#01579b;"><%- description %></span></td>
         </tr>
         <tr>
          <td><b>Latitude</b></td> <td><b>:</b></td> <td><span style="color:#01579b;"><%- lat %></span></td>
         </tr>
           <tr>
          <td><b>Longitude</b></td> <td><b>:</b></td> <td><span style="color:#01579b;"><%- long %></span></td>
         </tr>
             <tr>
          <td><b>Username</b></td> <td><b>:</b></td> <td><span style="color:#01579b;"><%- username %></span></td>
         </tr>
</table>

        <h3>Pitch Detail</h3>
        <pre style="text-align:left;margin:10px;color:#01579b">
          <%- field %>
        </pre>
             
        <p class="thanking-text" style="color: #9d9d9d; font-size: 16px; padding-bottom: 15px;">Thank you, <br> Teem Players</p>

    </div>

  </body>

</html>
